@font-face {
	font-family: CourierNewPS;
	font-display: swap;
	src: url("../fonts/CourierNewPS-BoldMT.woff2") format("woff2"), url("../fonts/CourierNewPS-BoldMT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CourierNewPSMT;
	font-display: swap;
	src: url("../fonts/CourierNewPSMT.woff2") format("woff2"), url("../fonts/CourierNewPSMT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
